/*
 * @see http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * apply a natural box layout model to all elements, but allowing components to change
 */
 html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
  
  }
  
  article {
  
  }
  
  h1 {
  
  }
  
  h2 {
  
  }
  
  img {
      max-width: 100%;
  }
  
  main {
  
  }
  
  section {
  
  }
  
  figure {
      margin: 0;
  }
  
  figcaption {
    font-size: .8em;
  }

  @media (min-width: 700px) {
    *{
        margin: 5px;
    } 
    body{
        font-size: 16px;
      }
      h1{
          font-size: 26px;
      }
      figure{
          margin-bottom: 40px;
      }
  }