body{ 
    background-color:#d6d4e0;
    font-family: mulish, sans-serif;
}

a{
    color: #5b9aa0;
    text-decoration: none;
}

.style-text{
    color: #622569;
    width: 90%;
}

h1{
    font-size: 65px;
    color: #622569;
}

.listas{
    background-color: #622569;
    color: white;
    padding: 15px 15px;
    border-radius: 40px;
    width: 400px;
    margin: 15px 15px 30px;
}

img{
    border-radius:20px 20px 100px;
}

a{
    background-color: black;
    color: white;
    padding: 5px 20px;
    border-radius: 10px;   
}

.subtitulos {
    font-weight: bold;
    color: #5b9aa0;
    width: 420px;
}

.taruma{
    color: #1b5257;
    background-color: chartreuse;
    border-radius: 60px;
    padding: 1px 10px;
}
